<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <style>
        div.inline {
            color: black;
            float: none;
            padding: 5px 5px;
            display: inline-block;
        }

        div.inline a.active {
            background-color: #FBD603;
            border: 1px solid darkred;
        }
    </style>
    <head>
    </head>
<body>
<h1 class="text-center">LIST CANDIDATES</h1>
<table class="table table-striped table-hover">
    <thead>
    </thead>
    <tbody>
    <tr th:each="candidate, iStat : ${candidatePage.content}">
        <td th:text="${candidate.id}"></td>
        <td th:text="${candidate.fullName}"></td>
        <td th:text="${candidate.dob}"></td>
        <td th:text="${candidate.address}"></td>
        <td th:text="${candidate.phone}"></td>
        <td th:text="${candidate.email}"></td>
        <td><a th:href="@{/edit/{id}(id=${candidate.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${candidate.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div class="inline" th:each="pageNumber :
${pageNumbers}" th:if="${candidatePage.totalPages > 0}">
    <a th:class="${pageNumber==candidatePage.number + 1} ? active"
       th:href="@{/candidates(size=${candidatePage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"></a>
</div>
<br/>
</body>
</body>
</html>